<html>
    <head>
      <title>Compra</title>
      <meta charset="utf-8">
      <link rel="shortcut icon" type="icon" href="icon.jpg">
      <link rel="stylesheet" type="text/css" href="css/css.css">
    </head>
<body>
    <div class="container"><br>
    <h2 class="topo"><center>Menu</center></h2><br>
    <table class="table table-dark table-striped">            
    <center>
        <br><br>
            <input type="button" value="Incluir Itens" id="buttonMenu" onclick="ir_para_compra()">
        <br><br><br>
           <input type="button"  value="Ver Produtos" id="buttonMenu"  onclick="ir_para_lista()">
        <br><br><br>
    <input type="button"  value="Carrinho de Compras" id="buttonMenu"  onclick="ir_para_vendas()">
    <br><br><br>
    <input type="button"  value="Sair" id="buttonMenu"  onclick="sair()">
</center>
    </table>
	</div>
	<script>
		function ir_para_compra(){
			window.location.href = "compra.html";
		}
		function ir_para_vendas(){
			window.location.href = 'venda.html';
		}
		function ir_para_lista(){
			window.location.href = 'listar.html';
		}
       
    </script>
    <script type="text/javascript" src="js/js.js"></script>
</body>
</html>