<html>
  <head>
      <title>Compra</title>
      <meta charset="utf-8">
      <link rel="shortcut icon" type="icon" href="icon.jpg">
      <link rel="stylesheet" type="text/css" href="css/css.css">
  </head>

  <body >
       <div class="container"><br>
              <h2 class="topo"><center>Carrinho de Compra</center></h2><br>            
              <table class="table">
                    <thead>
                      <tr>
                        <th>local</th>
                        <th>Responsavel</th>
                        <th>tipo</th>
                      </tr>
                    </thead>
                  
                    <tbody>

                      <tr>       
                        <th><input type="text" id="local" ></th>
                        <th><input type="text" id="responsavel"></th>
                        <th><input type="text" id="tipo"></th>

                      </tr>

                    <thead>
                      <tr>
                         
                          <th>Id do Porduto</th>
                          <th>Id do Responsavel</th>
                          <th>Quantidade</th>
                          <th>Perço</th>

                      </tr>
                  </thead>
                  <tr>       
                    <th><input type="number" id="id_produto" ></th>
                    <th><input type="number" id="id_com" ></th>
                    <th><input type="number" id="quantidade"></th>
                    <th><input type="number" id="preco"></th>
                    
                  </tr>

                      <tr>
                        <td colspan="3"></td>
                        <th>Valor total da compra:</th>
                        <th><p id="total"></p></th>
                      </tr>

                      <tr>
                        <th colspan="4"></th>
                        <th> <input type="button"  value="adicionar venda " id="buttonMenu" onclick="adicionar2()">
                      </tr>

                      <tr>
                        <th colspan="4"></th>
                        <th> <input type="button" value="adicionar responsavel " id="buttonMenu" onclick="adicionar3()">
                        </tr>


                        <tr>
                          <th colspan="4"></th>
                          <th> <input type="button"  value="adicionar " id="buttonMenu" onclick="adicionar2()">
                          </tr>

                      <tr>
                        <th colspan="4"></th>
                      <th><input type="button"  value="Efetuar Pagamento" id="buttonMenu" onclick="ir_para_nota()">
                      </tr>

                    </tbody>
                    <script>
                         function ir_para_nota(){
                        window.location.href = 'nota.html';
                      }
                    </script>
                  </table>
                </div>

        <script type="text/javascript" src="js/js.js"></script>
  </body>

</html>